@model IEnumerable<WebLabaC1.Models.Shop>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- HTML-код для відображення мапи -->
<div id="map" style="height: 400px;"></div>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 50.38867260317045, lng: 30.49026364368214 }, // Задайте початкові координати мапи
            zoom: 15 // Задайте збільшення мапи
        });

        $.ajax({
            url: 'api/getShops/getShops', // Замініть це на URL вашого серверного методу
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                // data - це масив об'єктів, які ви отримали з сервера
                data.forEach(function (object) {
                    var marker = new google.maps.Marker({
                        position: { lat: object.latitude, lng: object.longitude },
                        map: map,
                        title: object.name // Підпис для маркера
                    });
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    async function loadMapScript() {
        const apiKey = 'AIzaSyCl1GBKDhYN96vdIntqapi6WfnxukqdHew';
        const script = document.createElement('script');
        script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
        script.defer = true;
        script.async = true;
        document.body.appendChild(script);
    }

    loadMapScript();
</script>


<div class="container">
    <div id="chart1"></div>
</div>

@section scripts
    {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            $.get('api/Chart/JsonDataShop', function (JsonDataShop) {
                data = google.visualization.arrayToDataTable(JsonDataShop, false);
                var option = {
                    title: "Співідношення товарів в магазинах",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}
